<div id="contactContainer">
    <form action="/" method="post">
        <ul>
            <li>
                <label for="userName"></label>
                <input type="text" name="userName" id="userName" placeholder="type your name here...">
            </li>
            <li>
                <label for="userEmail"></label>
                <input type="email" name="userEmail" id="userEmail" placeholder="type your email address here...">
            </li>
            <li>
                <label for="userMessage"></label>
                <textarea name="userMessage" id="userMessage" cols="30" rows="10">type your message here...</textarea>
            </li>
        </ul>
    </form>

</div>